* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box
}

body {
  font-family: 'Calibri', sans-serif;
}

/* ----- Navigation Bar ----- */
.logo-container, .nav-items{
  display: flex;
  list-style: none;
}
header {
  display: flex;
  width: 90%;
  height: 15vh;
  margin: auto;
  align-items: center;
}

.logo-container {
  flex: 1.5;
  margin-left: 20px;
  font-size:24px
}

nav {
  flex: 1;
}

.nav-items {
  justify-content: space-around;
}

.nav-item {
  font-size: 22px;
  color: black;
  text-decoration: none;
}

/* ----- Main Content */

.presentation {
  display: flex;
  align-items: center;
}

.introduction {
  flex: 1px;
  margin-left: 50px;
  text-align: left;
}

.intro-text h1 {
  min-width: 500px;
  outline-color: 0;
  font-size: 68px;
}

.intro-text p {
  margin-top: 3px;
  font-size: 54px;
  font-weight: 400;
  margin-left: 20px;
}
.cover img {
  min-width: 500px;
  height: 60vh;
  margin-right: 60px;
}
