* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box
}

body {
  font-family: 'Calibri', sans-serif;
}

/* ----- Navigation Bar ----- */
.logo-container, .nav-items{
  display: flex;
  list-style: none;
}
header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container {
  flex: 2;
  margin-left: 20px
}

nav {
  flex: 1;
}

.nav-items {
  justify-content: space-around;
}

.nav-item {
  color: black;
  text-decoration: none;
}

/* ----- Main Content */

.presentation {
  display: flex;
  align-items: center;
}

.introduction {
  background: lightblue;
  flex: 1px;
  margin-left: 80px;
}

.intro-text h4 {
  font-size: 44px;
  font-weight: 700;
}

.intro-text p {
  margin-top: 3px;
  font-size: 22px;
  font-weight: 400;
}
.cover img {
  height: 60vh;
  flex: 1px;
}
